*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #ece9e6;
}
h1 {
  font-size: clamp(2rem, 2.4vw, 2.8rem);
  margin: 1em;
}
span {
  font-size: clamp(4rem, 4.4vw, 4.9rem);
  font-weight: 600;
  margin: 2em 0;
}
button {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  margin: 0.4rem;
  border: none;
  border-radius: 10px;
  border: 1px solid #222;
  background: transparent;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 2rem;
}
button:hover {
  color: #f2f2f2;
  background-color: #222;
  transform: all 500ms ease-in-out;
  cursor: pointer;
}
main {
  text-align: center;
}
